{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="top-heading">
    <h2>Project Details</h2>
</div>

<div class="row">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>Name: </dt><dd>{{project.title}}</dd>
            <dt>Description: </dt><dd>{{project.description}}</dd>
        </dl>
        {% if 'Admin' in user_roles or 'Project Manager' in user_roles or user.is_admin %}
        <a class="btn btn-link p-0" href="{% url 'edit_project' project.id %}">Edit Project Details</a>
        {% endif %}
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h3>Assigned Users</h3>
        <table class="table table-dark table-hover">
            <thead>
                <th>Name</th>
                <th>Current Roles</th>
                <th>Email</th>
            </thead>
            <tbody>
                {% for user in project.users.all %}
                <tr>
                    <td>{{user}}</td>
                    <td>{{user.roles}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if 'Admin' in user_roles or 'Project Manager' in user_roles or user.is_admin %}
        <a class="btn btn-link pl-0" href="{% url 'assign_users' project.id %}">Edit Project Users</a><br>
        {% endif %}
        {% if 'Admin' in user_roles %}
        <a class="btn btn-link pl-0" href="{% url 'admin_user_view' %}">Manage User Roles</a>
        {% endif %}
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h3>Project Tickets</h3>
        {% if 'Admin' in user_roles or 'Project Manager' in user_roles or user.is_admin %}
        <div class="mb-3">
            <a class="btn btn-link pl-0" href="{% url 'new_ticket' %}?project={{project.id}}">Create New</a>
        </div>
        {% endif %}
        <table id="projectTicketTable" class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in project_tickets %}
            <tr>
                <td><a href="{% url 'ticket_detail' ticket.id %}">{{ticket.title}}</a></td>
                <td>{{ticket.date_created|date:"n/j/y"}} {{ticket.date_created|time:"g:i a"}}</td>
                {% if ticket.assigned_user %}
                <td>{{ticket.assigned_user}}</td>
                {% else %}
                <td>Unassigned</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="footer">
    <div class="my-3">
        <a href="{% url 'projects' %}">Back to Projects</a>
    </div>
</div>
{% endblock %}

{% block child_scripts %}
<script>
$(document).ready(function () {
    $('#projectTicketTable').DataTable({
        "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}