{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class="top-heading">
  <h1>My Dashboard</h1>
  
</div>

<div class="dashboard-center-content top-heading">
    <h2>Recently updated tickets</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Updated/Created</th>
            <th>Project</th>
            <th>Priority</th>
        </tr>
    </table>
    <h4><a href="#">View all tickets</a></h4>    
    <h2> Projects</h2>
    <h4><a href="#">View project list</a></h4>
</div>
{% endblock %}
