{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class="top-heading">
  <h1>My Dashboard</h1>
  
</div>

<div class="dashboard-center-content top-heading">
    <h2>Recently updated tickets</h2>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Title</th>
                <th>Updated/Created</th>
                <th>Project</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a class="btn btn-link" href="{% url 'tickets' %}" style="padding-left: 0px;">View all tickets</a>    
    <h2> Projects</h2>
    <a class="btn btn-link" href="{% url 'projects' %}" style="padding-left: 0px;">View project list</a>
</div>
{% endblock %}
