{% extends 'base.html' %}
{% load static %}
{% load dashboard_extras %}

{% block navbar %}
{% include 'navbar.html' with user_roles=user_roles user=user %}
{% endblock %}

{% block content %}
<div class="top-heading">
    <h1>My Dashboard</h1>
 </div>
<div class="second-heading">
    <h2>Recently updated tickets</h2>
</div>
<div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Updated/Created</th>
                <th>Project</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in user_tickets %}
            <tr>
                <td><a href="{% url 'ticket_detail' ticket.id %}">{{ticket.title}}</a></td>
                <td>{{ticket.last_modified_date}}</td>
                <td>{{ticket.project}}</td>
                <td>
                    {% if ticket.priority == 'Low' %}
                    <div class="priority-label low-pr">
                        {{ticket.priority}}
                    </div>
                    {% elif ticket.priority == 'Medium' %}
                    <div class="priority-label med-pr">
                        {{ticket.priority}}
                    </div>
                    {% elif ticket.priority == 'High' %}
                    <div class="priority-label high-pr">
                        {{ticket.priority}}
                    </div>
                    {% elif ticket.priority == 'Critical' %}
                    <div class="priority-label crit-pr">
                        {{ticket.priority}}
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
    <a class="btn btn-link pl-0" href="{% url 'tickets' %}">View all tickets</a>
    <h2>Projects</h2> 
</div>
<div class="row">
    <div class="col-10 emulated-flex-gap">
        {% for project in project_list %}
        <figure>
            <a href="{% url 'project_detail' project.id %}">
                <img id="project_img" src="{% static 'images/folder.png' %}" alt="project">
            </a>
            <div class="project-icons-container">
                <figcaption><b><a href="{% url 'project_detail' project.id %}">{{project.title}}</a></b></figcaption>
                <figcaption><b>Tickets: </b>{{project_tickets_dict|keyvalue:project.id}}</figcaption>
                <figcaption><b>Critical: </b>{{critical_tickets_dict|keyvalue:project.id}}</figcaption>
                <figcaption><b>Resolved: </b>{{resolved_tickets_dict|keyvalue:project.id}}</figcaption>
            </div>
        </figure>
        {% endfor %}
    </div>
</div>
<div>
    {%  if user_projects|length > 4 %}
    {% include 'pagination.html' with page=projects %}
    {% endif %}
</div>
<div class="footer top-link">
    <h4><a href="{% url 'projects' %}">View project list</a></h4>
</div>
{% endblock %}
