{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-form-container">
    <div class="login-form">

        <form method="POST"> {% csrf_token %}
            
            <div class="logo-container">
                <h2 class="text-center"><img src="{% static 'images/bug_tracker_logo_white.ico' %}" alt="logo"
                    width="50" height="50"/> Bug Tracker</h2>
            </div>

            {% block register-fields %}
                {{login_form|crispy}}
                <button class="btn btn-success stretch-button" type="submit">Login</button>
            {% endblock %}
    </div>
</div>


{% endblock %}