{% extends 'base.html' %}

{% block content %}
<div class="top-heading">
    <h2>Create Ticket</h2>
</div>

<div class="new-ticket-form">
    <form>
        <div class="form-group">
            <label for="ticket_title"><b>Title</b></label>
            <input type="text" class="form-control" id="ticket_title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="ticket_desc"><b>Description</b></label>
            <textarea class="form-control" id="ticket_desc" cols="30" rows="5" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
            <label for="select-project-options"><b>Project</b></label>
            <select class="form-control" id="select-project-options">
                <option value="-Select Project-">-Select Project-</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select-priority-options"><b>Priority</b></label>
            <select class="form-control" id="select-priority-options">
                <option value="-Select Priority-">-Select Priority-</option>
            </select>
        </div>
        
        <button class="btn btn-secondary">Create</button>
    </form>
</div>
{% endblock content %}