{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading">
    <h2>Edit Profile</h2>
</div>

<div class="row">
    <div class="col-8 col-sm-8 col-md-6 col-lg-4 offset-lg-2">
        <form method="POST">
            {% csrf_token %}
            {{my_profile_form|crispy}}
            <div class="row">
                <div class="col password-label">
                    Password
                </div>
            </div>
            <div class="row">
                <div class="col pl-0">
                    <a class="btn btn-link" href="#">Change password</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary my-3" type="submit">Save Changes</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a classs="btn btn-link" href="{% url 'manage_profile' %}">Back to Profile</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}