{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading">
    <h2>Forgot your password?</h2>
    <h3>Enter your email</h3>
</div>
<div class="center-content">
    <div class="container" style="margin-left: 0;">
        <div class="row">
            <div class="col-6">
                <form method="POST">
                    {% csrf_token %}
                    {{reset_password_form|crispy}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}