{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 
<!-- add js here later to make a log out message that dissapears after x seconds -->
<!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}

    </ul>
{% endif %} -->
<div class="login-form-container">
    <div class="login-form">
        <div class="logo-container">
            <h2 class="text-center"><img src="{% static 'images/bug_tracker_logo_white.ico' %}" alt="logo" width="50" height="50"/> Bug Tracker</h2>
        </div>
        {% block form_content %}
        <form method="POST"> 
            {% csrf_token %}
            {{login_form|crispy}}
            <button class="btn btn-success btn-block" type="submit">Login</button>
        </form>        
        <div class="text-center">
            <button class="btn btn-link">Forgot your email or password?</button>
            <a class="btn btn-info btn-block" href="{% url 'register' %}">Sign Up</a>
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-outline-warning btn-block" href="{% url 'demo' %}">Demo</a>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}