{% extends 'dashboard.html' %}
{% load static %}
{% load dashboard_extras %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading" style="border-bottom: none;">
    <h2>Role Assignments</h1>
</div>

<div class="center-content top-heading">
    <table class="table table-dark table-hover">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Current Roles</th>
            <th></th>
        </tr>
        {% for user in user_list %}
        <tr>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
            {% if user.roles|length > 0 %}
                {% for role in user.roles %}
                    {{role}} <br>
                {% endfor %}
            {% else %}
                None assigned
            {% endif %}
            </td>
            <td><a class="btn btn-link" href="{% url 'edit_role' user.id %}">Edit Roles</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}