body {
    background-color: #2d373d;
}

body h1,h2,h3,h4,h5 {
    color: white;
}

label {
    color: white;
}

dl dt, dl dd {
    color: rgb(167,158,145);
}

.top-heading {
    margin-bottom: 20px;
    border-bottom: 1px solid lightslategray;
}

.top-heading h1 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
}

.top-heading h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.top-heading h4 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-link h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightslategray;
}

.footer .btn-link {
    padding-left: 0;
}

.comment-sect {
    color: rgb(167,158,145);
}

.password-label {
    color:white;
}

.second-heading h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.login-form {
    width: 400px;
    margin: auto;
    color: white;
}

.login-form-container {
    margin: auto;
    width: 500px;
    padding: 20px 20px 20px 20px;
    background-color: #2f4857;
    border: solid 1px white;
}

.logo-container {
    border-bottom: white solid 1px;
    margin-bottom: 10px;
}

.alert, .alert-block, .alert-danger, ul {
    margin: 0;
    padding-left: 15px;
}

#ticketTable_wrapper, #projectTicketTable_wrapper {
    display: block;
}

#ticketTable_length, #projectTicketTable_length {
    float: left;
}

#ticketTable_filter, #projectTicketTable_filter {
    float: right;
}

#ticketTable_paginate, #projectTicketTable_paginate {
    float: right;
}

#ticketTable_previous, #projectTicketTable_previous {
    margin-right: 50px;
}

#ticketTable_info, #projectTicketTable_info {
    color:white;
}

.priority-label {
    height: 20px;
    width: 60px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-pr {
    background-color: rgb(61, 84, 107);
}

.med-pr {
    background-color: rgb(193, 118, 23);
}

.high-pr {
    background-color: rgba(255, 68, 0, 0.678);
}

.crit-pr {
    background-color: rgb(186, 21, 18);
}

.emulated-flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -50px;
    width: calc(100% + 50px);
  }

.emulated-flex-gap > * {
    margin: 50px 0 0 50px;
  }

.audit_messages pre {
    color: white;
}

.project-icons-container {
    margin-left: 15px;
    color: white;
}

.float-right {
    float: right;
}

.table tr td{
    padding: .5rem;
}

.error-container h1 {
    font-size: 48px;
    font-weight: normal;
}