.top-heading {
    margin: 0 auto;
    width: 80%;
    height: 50%;
    border-bottom: 1px solid lightslategray;
}

.top-heading h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.top-heading h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

.dashboard-center-content {
    margin-top: 30px;
}

.project-center-content {
    margin-top: 40px;
}

.ticket-center-content {
    margin-top: 10px;
}

.dashboard-center-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-center-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.entries-search-wrapper {
    display: flex;
    justify-content: space-between;
}

.priority-selection-wrapper {
    display: flex;
    justify-content: center;
}

.priority-selection {
    margin-right: 2%;
}

.status-selection {
    margin-left: 2%;
}

.priority-selection label {
    display: flex;
    flex-direction: column;
}

.status-selection label {
    display: flex;
    flex-direction: column;
}


.ticket-center-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}


.dashboard-center-content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.navigation-bar {
    padding-left: 10%;
}

.navbar-nav .nav-item {
    padding-top: 5px;
    margin: 0 15px 0 0;
}

#right-menu-section .nav-item{
    float: right;
}

#bug-tracker {
    padding-right: 15px;
}

/* table {
    width: 100%;
    border-bottom: 1px solid lightslategray;
} */

.recently-updated {
    margin-bottom: 20px;
}

.showing-prev-next-wrapper {
    display: flex;
    justify-content: space-between;
}

.ticket-form {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 50%;
}

.login-form {
    width: 400px;
    margin: auto;
    color: white;
}

.stretch-button {
    width: 100%;
    display: block;
}

.login-form-container {
    margin: auto;
    width: 500px;
    padding: 20px 20px 20px 20px;
    background-color: #2f4857;
    border: solid 1px white;
}

body {
    background-color: #2d373d;
}

body h1,h2,h3,h4,h5 {
    color: white;
}

label {
    color: white;
}

/* table {
    color: white;
} */

.logo-container {
    border-bottom: white solid 1px;
    margin-bottom: 10px;
}

#error_1_id_password2 {
    color: red;
}

.alert, .alert-block, .alert-danger, ul {
    margin: 0;
    padding-left: 15px;
}

/* tr[data-href] {
    cursor: pointer;
}

tr:hover {
    background-color: teal;
} */

#ticketTable_wrapper, #projectTicketTable_wrapper {
    display: block;
}

#ticketTable_length, #projectTicketTable_length {
    float: left;
}

#ticketTable_filter, #projectTicketTable_filter {
    float: right;
}

#ticketTable_paginate, #projectTicketTable_paginate {
    float: right;
}

#ticketTable_previous, #projectTicketTable_previous {
    margin-right: 50px;
}

#ticketTable_info, #projectTicketTable_info {
    color:white;
}

.center-content {
    margin-left: 10%;
}

.ticket-description-list dt{
    color: #ffffffb8;
}

.ticket-description-list span{
    color: grey;
}

.priority-label {
    height: 20px;
    width: 60px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-pr {
    background-color: rgb(61, 84, 107);
}

.med-pr {
    background-color: rgb(193, 118, 23);
}

.high-pr {
    background-color: rgba(255, 68, 0, 0.678);
}

.crit-pr {
    background-color: rgb(186, 21, 18);
}

.emulated-flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -50px;
    width: calc(100% + 50px);
  }

.emulated-flex-gap > * {
    margin: 50px 0 0 50px;
  }

.navbar-nav {
    padding-right: 10%;
}

.audit_messages pre {
    color: white;
}

.content-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav-container {
    padding-left: 14%;
    padding-right: 5%;
}

.link-no-left-padding {
    padding-left: 0;
}

.project-icons-container {
    margin-left: 15px;
    color: white;
}

.no-border-bottom {
    border-bottom: none
}

.no-left-right-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.archive-project-details {
    float: right;
}
