{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading">
    <h2>Assign Ticket</h2>
</div>
<div class="container" style="margin-left: 180px;">
    <div class="row">
        <div class="col">
            <dl class="ticket-description-list">
                <dt>Title: <span>{{ticket.title}}</span></dt>
                <dt>Description: <span>{{ticket.description}}</span></dt>
                <dt>Created: <span>{{ticket.date_created}}</span></dt>
                <dt>Updated: <span>{{ticket.last_modified_date}}</span></dt>
                <dt>Project: <span>{{ticket.project_id}}</span></dt>
                <dt>Type: <span></span></dt>
                <dt>Priority: <span>{{ticket.priority}}</span></dt>
                <dt>Status: <span>{{ticket.status}}</span></dt>
                <dt>Owner: <span>{{ticket.owner}}</span></dt>
            </dl> 
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <form method="POST">
                {% csrf_token %}
                {{assign_ticket_form|crispy}}
                <button type="submit" class="btn btn-secondary">Assign Ticket to User</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}