{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading">
    <h2>Create Ticket</h2>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4 offset-lg-2">
        <form method="POST">
            {% csrf_token %}
            {{new_ticket_form|crispy}}
            <button class="btn btn-success" type="submit">Create</button>
        </form>
    </div>
</div>
<div class="footer">
    <a class="btn btn-link" href="{% url 'tickets' %}">Back to Tickets</a>
</div>
{% endblock content %}