{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="top-heading">
    <h1>My Tickets</h1>
</div>

<div class="ticket-center-content top-heading">
    <h4><a href="{% url 'new_ticket' %}">Create New</a></h4>
    <table id="ticketTable" class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Project</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned To</th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in user_tickets %}
            <tr>
                <td><a href="{% url 'ticket_detail' ticket.id %}">{{ticket.title}}</a></td>
                <td>{{ticket.date_created}}</td>
                <td>{{ticket.project}}</td>
                <td>{{ticket.priority}}</td>
                <td>{{ticket.status}}</td>
                <td>None</td>
                <td>
                    <a href="{% url 'ticket_detail' ticket.id %}">Details</a>
                    <br>
                    <a href="{% url 'edit_ticket' ticket.id %}">Edit</a>
                    <br>
                    <a href="{% url 'assign_ticket' ticket.id %}">Assign</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4><a href="#">Search all ticket fields</a></h4>
</div>
{% endblock %}

{% block child_scripts %}
<script>
$.fn.dataTable.ext.type.detect.unshift(
    function ( d ) {
        return (d === 'Low' || d === 'Medium' || d === 'High' || d === 'Urgent') ?
            'ticket-priority' :
            null;
    }
);

$.fn.dataTable.ext.type.order['ticket-priority-pre'] = function ( d ) {
    switch ( d ) {
        case 'Low'      :   return 1;
        case 'Medium'   :   return 2;
        case 'High'     :   return 3;
        case 'Critical'   :   return 4;
    }
    return 0;
};

// Basic example
$(document).ready(function () {
    $('#ticketTable').DataTable({
        "pagingType": "simple", // "simple" option for 'Previous' and 'Next' buttons only
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false,
        }]
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}