{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="top-heading">
    <h2>Ticket Details</h2>
</div>

<div class="center-content">
    <dl class="ticket-description-list">
        <dt>Title: <span>{{ticket.title}}</span></dt>
        <dt>Description: <span>{{ticket.description}}</span></dt>
        <dt>Project: <span>{{ticket.project_id}}</span></dt>
        <dt>Created: <span>{{ticket.date_created}}</span></dt>
        <dt>Updated:</dt>
        <dt>Assigned To: <a href="#">Edit</a></dt>
        <dt>Attachments</dt>
        <button class="btn btn-secondary">Add Attachment</button>
        <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-info">Edit Ticket</a>
        <dt>Priority <span>{{ticket.priority}}</span></dt>
        <dt>Status</dt>
        <dt>Owner</dt>
        <dt><a href="#">Ticket History</a></dt>
        <dt><a href="#">Back to Tickets</a></dt>
    </dl>

    <div>
        <h3>Comments</h2>
            <button class="btn btn-secondary">Add Comment</button>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Delete</button>
    </form>


</div>
{% endblock %}
