{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="top-heading">
    <h2>Ticket History</h2>
</div>

<div class="mb-3" style="color: white;">
    Log for "{{ticket.title}}"
</div>

{% for audit in ticket_audits %}
<div class="row">
    <div class="col">
        <div class="audit_messages">
            <pre class="mb-0"><b>{{audit.date_added|date:"n/j/y"}} {{audit.date_added|time:"g:i a"}}</b></pre>
            <pre class="mb-0">{{audit.entry_message}}</pre>
            {% if audit == first_audit %}
            <pre>Created by {{audit.user}}</pre>
            {% else %}
            <pre>Edited by {{audit.user}}</pre>
            {% endif %}
        </div> 
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col">
    {% if audit_trail|length > 5 %}
    {% include 'pagination.html' with page=ticket_audits %}
    {% endif %} 
    </div>
    
</div>
<div class="footer">
    <a class="btn btn-link" href="{% url 'ticket_detail' ticket.id %}">Back to Ticket Details</a>
</div>
</div>
{% endblock %}