{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="top-heading">
    <h2>Ticket Details</h2>
</div>

<div class="center-content">
    <dl class="ticket-description-list">
        <dt>Title: <span>{{ticket.title}}</span></dt>
        <dt>Description: <span>{{ticket.description}}</span></dt>
        <dt>Project: <span>{{ticket.project_id}}</span></dt>
        <dt>Created: <span>{{ticket.date_created}}</span></dt>
        <dt>Updated: <span>{{ticket.last_modified_date}}</span></dt>
        <dt>Assigned To: <span>{{ticket.assigned_user}}</span><a href="{% url 'assign_ticket' ticket.id %}">Edit</a></dt>
        <dt>Attachments</dt>
        <button class="btn btn-secondary">Add Attachment</button>
        <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-info">Edit Ticket</a>
        <dt>Priority: <span>{{ticket.priority}}</span></dt>
        <dt>Status: <span>{{ticket.status}}</span> </dt>
        <dt>Owner: <span>{{ticket.owner}}</span></dt>
        <dt><a class="btn btn-link" href="#" style="padding: 0;">Ticket History</a></dt>
        <dt><a class="btn btn-link" href="{% url 'tickets' %}" style="padding: 0;">Back to Tickets</a></dt>
    </dl>

    <div>
        <h3>Comments</h2>
            <div class="container" style="margin-left: 0px; padding: 0px;">
                {% for comment in comment_posts %}
                    <div class="row">
                        <div class="col-3">
                            {{comment.description}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="font-size: small; margin-bottom: 20px;">
                            {% if comment.last_modified_date == comment.date_posted or comment.last_modified_date == None %}
                                <b>Posted by <span>{{comment.user_id.first_name}} {{comment.user_id.last_name}}</span></b>
                                <br>
                                <b>{{comment.date_posted}}</b>
                                <br>
                            {% else %}
                                <b>Edited by <span>{{comment.user_id.first_name}} {{comment.user_id.last_name}}</span></b>
                                <br>
                                <b>{{comment.last_modified_date}}</b>
                                <br>
                            {% endif %}
                            <a class="btn btn-link" href="{% url 'edit_comment' comment.id %}" style="padding: 0px;">Edit</a> | 
                            <a class="btn btn-link" href="{% url 'delete_comment' comment.id %}" style="padding: 0px;">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if ticket_comments|length > 2 %}
                {% include 'pagination/comment_posts.html' with page=comment_posts %}
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'new_comment' ticket.id %}" style="margin-top: 20px; margin-bottom: 20px;">Add Comment</a>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Delete</button>
    </form>


</div>
{% endblock %}
