{% extends 'dashboard.html' %}

{% block content %}
<div class="top-heading" style="border-bottom: none;">
    <h2>{% block title %}Archive Project{% endblock %}</h2>
</div>

<div class="top-heading dashboard-center-content" style="border-bottom: none">
    <div class="container" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
        <div class="row text-center">
            <div class="col-lg-6">
                <h3 class="alert alert-danger">{% block warning %}Are you sure you want to archive this project?{% endblock %}</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6">
                <dl class="ticket-description-list">
                    {% block model_detail %}
                    <dt>Name: <span>{{project.title}}</span></dt>
                    <dt>Description: <span>{{project.description}}</span></dt>
                    {% endblock %}
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    {% block form_button %}
                    <button class="btn btn-secondary" type="submit">Confirm Archive</button>
                    {% endblock %}
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6">
                {% block  links %}
                <a href="{% url 'projects' %}">Back to Projects</a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}