{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="top-heading">
    <h2>Edit Project</h2>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4 form">
        <form method="POST">
            {% csrf_token %}
            {{edit_project_form|crispy}}
            <button class="btn btn-success">Save</button>
        </form>
    </div>
</div>
<div class="footer">
    <a class="btn btn-link" href="{% url 'projects' %}">Back to Projects</a>
</div>

{% endblock %}