{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="top-heading">
    <h2>Project Details</h2>
</div>

<div class="center-content top-heading">
    <div>
        <dl class="ticket-description-list">
            <dt>Name: <span>{{project.title}}</span></dt>
            <dt>Description <span>{{project.description}}</span></dt>
        </dl>
        <a class="btn btn-link" href="#" style="padding-left: 0px;">Edit Project Details</a>
    </div>

    <div style="margin-top: 30px;">
        <h3>Assigned Users</h3>
        <table class="table table-striped table-dark">
            <thead>
                <th>Name</th>
                <th>Current Roles</th>
                <th>Email</th>
            </thead>
            <tbody>
                <td>name</td>
                <td>role</td>
                <td>email</td>
            </tbody>
        </table>
        <a class="btn btn-link" href="#" style="padding-left: 0px;">Edit Project Users</a>
    </div>

    <div style="margin-top: 30px">
        <h3>Project Tickets</h3>
        <div style="margin-bottom: 30px;">
            <a class="btn btn-link" href="{% url 'new_ticket' %}" style="padding-left: 0px;">Create New</a>
        </div>
        <table id="projectTicketTable" class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in project_tickets %}
            <tr>
                <td><a href="{% url 'ticket_detail' ticket.id %}">{{ticket.title}}</a></td>
                <td>{{ticket.date_created}}</td>
                <td>None</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="margin-top: 30px;">
            <a href="{% url 'projects' %}">Back to Projects</a>
        </div>
    </div>
</div>
{% endblock %}

{% block child_scripts %}
<script>
$(document).ready(function () {
    $('#projectTicketTable').DataTable({
        "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}